body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: gray;
}
header,footer{
	width: 100%;
	border: 1px solid white;
	text-align: center;
}
header{
	line-height: 300px;
}

.row{
	margin: 1rem 0;
	padding: 1rem 0;
	background-color: #fff;
	display: inline-block;
	width: 100%;
	height: 300px;
}
.box{
	height: 100%;
	text-align: center;
}

main{
	background-color: orange;
	width: 20%;
	margin: 0 1.5em;
	float: right;
}
aside{
	background-color: red;
	width: 70%;
	margin: 0 1.5em;
	float: left;
}
.clear:after,
.clear:before{
	content: '  ';
	display: table;
}
.clear:after{
	clear: both;
}
